@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: rgb(247,71,46);
  --border-color: rgb(232,232,232);
  --navbar-height: 34px;
  --header-height: 119px;
  --hashtag-color: rgb(255, 0, 32)
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family:  sans-serif;
}


.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.grid-column-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}

.grid-column-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83%;
}

.grid-column-2--4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}
.margin-right-4 {
  margin-right: 4px;
}



.modal__body {
  margin: auto;
}

.btn {
  border-radius: 2px;
  outline: none;
  border: none;
  min-width: 100px;
  height: 36px;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  background-color: var(--white-color);
  color: var(--text-color);
}

.btn.btn--primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn.btn--normal {
  background-color: var(--white-color);
}

.btn.btn-size-s {
  font-size: 1.3rem;
  height: 38px;
  padding: 0 12px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.308);
  display: flex;
  animation: BackgroundCome linear 0.25s;
}

.selecter__input {
  width: 200px;
  background-color: var(--white-color);
  height: 34px;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  color: var(--text-color);
  position: relative;
  border-radius: 2px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 2%);
  cursor: pointer;
  z-index: 1;
}

.selecter__input-icon {
  color: rgb(85,85,85);
  font-size: 1.6rem;
}
.selecter__input:hover .selecter__input-list {
  display: block;
}
.selecter__input-list {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 2px);
  background-color: var(--white-color);
  padding: 6px 0;
  list-style: none;
  margin: 0;
  display: none;
} 
.selecter__input-list::before {
  display: block;
  content: '';
  position: absolute;
  top: -2px;
  height: 2px;
  width: 100%;
}

.selecter__input-item {
  padding: 10px 12px;
  color: var(--text-color);
}

.selecter__input-item:hover {
  color: var(--primary-color);
}
@keyframes BackgroundCome {
  from {background-color: rgba(0, 0, 0, 0);}
  to {background-color: rgba(0, 0, 0, 0.308);}
}

.shop-hashtag {
  display: inline-block;
  color: var(--hashtag-color);
  border: solid 1px var(--hashtag-color);
  font-size: 1rem;
  padding: 2.4px 6px;
  line-height: 1;
  margin-right: 4px;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.pagination__item{
  margin: 0 14px;
}

.pagination__item--active .paginatio__item-link{
  background-color: var(--primary-color);
  color: var(--white-color);
}

.pagination__item--active:hover .paginatio__item-link {
  background: #f05d40
}

.paginatio__item-link{
  display: block;
  --height: 30px;
  min-width: 40px;
  height: var(--height);
  line-height: var(--height);
  text-align: center;
  color: var(--white-color);
  text-decoration: none;
  font-size: 2.1rem;
  color: rgba(0,0,0,.4);
  border-radius: 2px;
}

